In [1]:
import pandas as pd
import os

In [2]:
bigdf = []
for file in os.listdir("xmatchcsvs"):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join("xmatchcsvs", file))
        bigdf.append(df)

In [3]:
bigdf = pd.concat(bigdf)

/var/folders/2d/ht34x6mn7hx9d1sv4g_j8nfr0000gn/T/ipykernel_62708/3921118550.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  bigdf = pd.concat(bigdf)

In [4]:
bigdf = bigdf.reset_index(drop=True)

In [5]:
bigdf[bigdf["separation_arcsec"] < 2]

,ztf_id,tess_id,ztf_ra,tess_ra,ztf_dec,tess_dec,separation_arcsec
0,10298331001539,290172285,32.277978,32.277876,-15.595319,-15.595305,0.357691
2,10298461004268,212375873,26.714095,26.713810,-16.872369,-16.872455,1.027720
4,10298581014112,92993104,28.461702,28.461896,-14.997383,-14.997466,0.738507
6,10298482008714,302438166,33.466838,33.466757,-13.618149,-13.617856,1.092186
13,10298091000774,266680031,28.129023,28.128977,-19.217607,-19.217620,0.163053
...,...,...,...,...,...,...,...
6843,10652471005754,85342617,28.901163,28.901331,33.568495,33.568660,0.778803
6849,10295192008032,369394619,12.111507,12.111117,-18.789242,-18.789005,1.577601
6852,10295611014642,406351523,5.176892,5.176754,-14.115316,-14.115369,0.518172
6853,10295432006782,423662790,7.946674,7.946309,-16.774603,-16.774221,1.865472
6854,10295041004718,27999800,10.588131,10.588204,-19.397134,-19.397103,0.272459

In [6]:
bigdf.to_csv("allxmatch.csv",index=False)